<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--th:replace="~{/user/home/index :: dynamic(~{::main})}"-->

<head>
    <meta charset="UTF-8">
    <title>Dream - The Coffee and Tea</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body ng-app="profile" ng-controller="profile_ctrl" style="background-color: whitesmoke;">

    <!-- Navbar Start -->
    <div th:replace="~{/user/component/header.html}"></div>
    <!-- Navbar End -->
    <main>

        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center py-5">
                <h1 class="display-2 text-dark mb-4 animated slideInDown">Change Password</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a th:href="@{|/home|}">Home</a></li>
                        <li class="breadcrumb-item text-dark" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->

        <!--changePassword Start  -->
        <section class="wrapper rs-1" id="checkOldPassword">
            <div class="container">
                <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                    <form class="rounded bg-white shadow p-5">
                        <h3 class="text-dark fw-bolder fs-4 mb-2">Verify with password</h3>

                        <div class="fw-normal text-muted mb-4">
                            Enter your password.
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="oldPassword" placeholder="*********">
                            <label for="oldPassword">Password</label>
                        </div>

                        <button type="submit" class="btn btn-primary submit_btn my-4" id="rs1SubmitBtn" ng-click="authenticationPass()">Submit</button>

                    </form>
                </div>
            </div>
        </section>
        <section class="wrapper rs-2" style="display: none;" id="formConfirmPass">
            <div class="container">
                <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                    <form class="rounded bg-white shadow p-5">
                        <h3 class="text-dark fw-bolder fs-4 mb-2">Setup New Password</h3>

                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="newPassword" placeholder="*********">
                            <label for="newPassword">New Password</label>
                        </div>
                        <small class="text-muted" style="font-size: 12px;">
<!--                            Use 8 or more characters with a mix of letters, numbers & symbols.-->
                        </small>

                        <div class="form-floating mb-3 mt-4">
                            <input type="password" class="form-control" id="confirmNewPassword" placeholder="*********">
                            <label for="confirmNewPassword">Confirm Password</label>
                        </div>

                        <button class="btn btn-secondary cancel-btn my-4" id="cancelBtn">Cancel</button>
                        <button type="submit" class="btn btn-primary submit_btn my-4" id="rs2SubmitBtn" ng-click="updatePassword()">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="wrapper rs-3" style="display: none;" id="updatePasswordSuccess">
            <div class="container" style="background-color: white; padding: 10px; border-radius: 5px;">
                <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                    <img class="img-fluid mt-3 mb-2" src="/img/cart-1.png" style="height: 150px; width: 150px;">
                    <h3 class="text-success fw-bolder fs-4 mb-3 mt-3">Password Changed Successfully!</h3>
                    <p>Congratulations! Your password has been successfully changed.</p>
                    <a th:href="@{|/home|}">
                        <button class="btn btn-success mt-3 mb-3" style="padding: 8px 18px;">
                            Quay về trang chủ
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <!--changePassword End  -->

        <!-- Back to Top -->
        <!-- Footer Start -->
        <div th:replace="~{/user/component/footer.html}"></div>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div th:replace="~{/user/component/copyright.html}"></div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
            <i class="bi bi-arrow-up"></i>
        </a>
    </main>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="/js/account.js"></script>
    <!-- Cart Control -->
    <script>
        const rs1SubmitBtn = document.getElementById('rs1SubmitBtn');
        const rs2SubmitBtn = document.getElementById('rs2SubmitBtn');
        const rs2CancelBtn = document.getElementById('cancelBtn');
        const rs1Section = document.querySelector('.rs-1');
        const rs2Section = document.querySelector('.rs-2');
        const rs3Section = document.querySelector('.rs-3');

        rs1SubmitBtn.addEventListener('click', function (event) {
            // Ngăn chặn hành vi mặc định của nút submit (nếu cần)
            event.preventDefault();

            // Ẩn .rs-1 và hiển thị .rs-2
            rs1Section.style.display = 'none';
            rs2Section.style.display = 'block';
        });

        rs2CancelBtn.addEventListener('click', function () {
            // Hiển thị lại .rs-1 và ẩn .rs-2
            rs1Section.style.display = 'block';
            rs2Section.style.display = 'none';
        });

        rs2SubmitBtn.addEventListener('click', function (event) {
            // Ngăn chặn hành vi mặc định của nút submit (nếu cần)
            event.preventDefault();

            // Ẩn .rs-1 và hiển thị .rs-2
            rs1Section.style.display = 'none';
            rs2Section.style.display = 'none';
            rs3Section.style.display = 'block';
        });
    </script>
</body>

</html>