<!-- Footer -->
<footer class="footer" style="background-color: white;">
    <div class="container" style="padding-top: 14px;">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-item">
                    <i class="bi bi-shield-lock-fill text-success me-3"></i>
                    <p class="text-black">Secure Payment</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <i class="bi bi-truck text-success me-3"></i>
                    <p class="text-black">Express Shipping</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <i class="bi bi-arrow-clockwise text-success me-3"></i>
                    <p class="text-black">Free Return</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-3">
                <h4>Dream</h4>
                <p class="list-unstyled" style="padding-right: 15px;">Stay up-to-date with the latest news and
                    promotions from Dream by following us on social media. Join our community and experience the joy
                    of exceptional coffee and tea.</p>
            </div>
            <div class="col-md-3">
                <h4>Shop</h4>
                <ul class="list-unstyled">
                    <li><a class="link-ft" href="#">Tráng miệng</a></li>
                    <li><a class="link-ft" href="#">Cà phê</a></li>
                    <li><a class="link-ft" href="#">Trà</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>About</h4>
                <ul class="list-unstyled">
                    <li><a class="link-ft" href="index.html">Home</a></li>
                    <li><a class="link-ft" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Need help?</h4>
                <ul class="list-unstyled">
                    <li><a class="link-ft" href="#">Shop</a></li>
                    <li><a class="link-ft" href="#">My account</a></li>
                    <li><a class="link-ft" href="#">Cart</a></li>
                    <li><a class="link-ft" href="#">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>