<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{|/admin|}">Dream Admin</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto pe-3 me-lg-4">
        <li class="nav-item notification-icon">
            <a class="nav-link" href="#">
                <i class="bi bi-bell-fill"></i>
            </a>
            <div class="notification-dropdown">
                <p class="notification-title">Thông báo mới nhận được</p>
                <div class="notification-content">
                    <img src="/img/gallery/image2.jpg" class="notification-image">
                    <div class="notification-text">
                        <p style="font-size: 17px; font-weight: bold; padding-top: 10px; margin-bottom: 3px;">Đơn hàng
                            đã được thêm thành công</p>
                        <p style="font-size: 15px; display: flex; margin-bottom: 3px;">Trà Hạt Sen Đá - SL: 1 - 39.000đ
                        </p>
                        <p style="font-size: 14px; display: flex;">08:15 29-10-2023</p>
                    </div>
                </div>
                <div class="notification-content">
                    <img src="/img/gallery/image11.jpg" class="notification-image">
                    <div class="notification-text">
                        <p style="font-size: 17px; font-weight: bold; padding-top: 10px; margin-bottom: 3px;">Đơn hàng
                            đã được thêm thành công</p>
                        <p style="font-size: 15px; display: flex; margin-bottom: 3px;">Cà Phê Đen Đá - SL: 1 - 29.000đ
                        </p>
                        <p style="font-size: 14px; display: flex;">08:20 29-10-2023</p>
                    </div>
                </div>
                <!-- Thêm các thông báo khác nếu cần -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i>
                <span style="padding-right:3px;">[[${fullname}]]</span>
            </a>
            <ul style="margin-top: 8px;" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>