<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Discounts - Dream Admin</title>
    <link type="text/css" href="/css/admin/admin.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
</head>

<body class="sb-nav-fixed" ng-app="discount-app" ng-controller="discount-ctrl">
    <div th:replace="~{/admin/component/header.html}"></div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <div th:replace="~{/admin/component/sidebar.html}"></div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="card mb-4" style="border: none;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0"> <i class="fas fa-table me-1"></i> Discounts</h4>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center mb-3 mt-1">
                            <div class="col-md-3">
                                <div class="d-flex">
                                    <div class="form-group mb-0 me-3">
                                        <label for="dateFilter" class="fw-bold pt-1" style="font-size: 18px;">
                                            Filter by Date:</label>
                                    </div>
                                    <div class="form-group mb-0" style="width: 200px;">
                                        <input type="date" class="form-control" id="dateFilter" ng-model="selectedDate">
                                    </div>
                                </div>
                            </div>
                            <!-- Thanh tìm kiếm ở góc phải -->
                            <div class="col-md-2 ms-auto">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered text-center order-datatable">
                                <thead class="table-dark">
                                    <tr>
                                        <th>DiscountName</th>
                                        <th>DiscountNumber</th>
                                        <th>DiscountPercent</th>
                                        <th>ActiveDate</th>
                                        <th>Expiredate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="no-border-x">
                                    <tr ng-repeat-start="count in discounts">
                                        <td>{{count.name}}</td>
                                        <td>{{count.number}}</td>
                                        <td>{{count.percent}}</td>
                                        <td>{{count.activeDate | date: 'dd-MM-yyyy'}}</td>
                                        <td>{{count.expiredDate | date: 'dd-MM-yyyy'}}</td>
                                        <td>
                                            <button class="btn btn-dark" ng-click="edit(count)" data-bs-toggle="modal"
                                                data-bs-target="#myModal">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button class="btn btn-danger" ng-click="delete(count)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between align-items-center pt-2 pb-0">
                            <div class="fw-normal" style="font-size: 18px;">
                                Showing 1 to 5 of 15 entries
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="bi bi-pencil-square pe-2"></i>
                                    Edit Product
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-9 offset-sm-2" style="margin-top: 50px;">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">DiscountName</label>
                                                    <input type="text" class="form-control" id="name"
                                                        ng-model="form.name" name="name" placeholder="Product Name" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">DiscountNumber</label>
                                                    <input type="text" class="form-control" id="discountNumber"
                                                        ng-model="form.number" name="number"
                                                        placeholder="DiscountNumber" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name" class="fw-bold mb-3">DiscountPercent</label>
                                                    <input type="text" class="form-control" id="DiscountPercent"
                                                        ng-model="form.percent" name="number"
                                                        placeholder="DiscountPercent" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">ActiveDate</label>
                                                    <input ng-model="form.activeDate" class="form-control" type="date"
                                                        name="day" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold mb-3">Expiredate</label>
                                                    <input ng-model="form.expiredDate" class="form-control" type="date"
                                                        name="day" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="create()" class="btn btn-primary" type="button">Create</button>
                                <button ng-click="delete(form)" class="btn btn-danger" type="button">Delete</button>
                                <button ng-click="update()" class="btn btn-success" type="button">Update</button>
                                <button ng-click="reset()" class="btn btn-secondary" type="button">New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div th:replace="~{/admin/component/footer.html}"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/admin/discount.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>