<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{|/login|}" method="post">
        <h6 th:text="${message}"></h6>
        <input type="text" class="form-control" id="username" name="username" value=""
               placeholder="Username">
        <input type="password" class="form-control" id="password" name="password"
               value="" placeholder="Password">
        <button type="submit" value="submit" class="btn_3">
            Login
        </button>
    </form>
</body>
</html>