<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a th:href="@{|/home|}" class="navbar-brand">
                <img class="img-fluid" src="/img/gallery/logo.png" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a th:href="@{|/home|}" class="nav-item nav-link">Home</a>
                    <a th:href="@{|/store|}" class="nav-item nav-link">Store</a>

                    <!--When customer has role admin or staff-->
                    <th:block th:if="${isAdminOrStaff}">
                        <a th:href="@{|/admin/index|}" class="nav-item nav-link">Admin</a>
                    </th:block>

                    <!--When customer not login-->
                    <th:block th:unless="${isAuthenticated}">
                        <a th:href="@{|/login/form|}" class="nav-item nav-link">Login</a>
                        <a th:href="@{|register|}" class="nav-item nav-link">Register</a>
                    </th:block>

                    <!--When customer login-->
                    <th:block th:if="${isAuthenticated}">
                        <a id="username" class="nav-item nav-link" hidden>[[${username}]]</a>
                        <a id="id_account" class="nav-item nav-link" hidden>[[${id_account}]]</a>
                        <a th:href="@{|/orders|}" class="nav-item nav-link">Order</a>
                        <div class="user-icon">
                        <div class="user-icon-circle">
                            <img src="/img/gallery/testimonial-2.jpg" class="img-fluid">
                        </div>
                        <span class="user-name" id="fullname">[[${username}]]</span>
                        <!-- Dropdown Menu -->
                        <div class="user-dropdown">
                            <ul>
                                <a th:href="@{|/profile|}">
                                    <li>My Account</li>
                                </a>
                                <a th:href="@{|/voucher|}">
                                    <li>My Vouchers</li>
                                </a>
                                <a th:href="@{|/changePassword|}">
                                    <li>ChangePassword</li>
                                </a>
                                <a th:href="@{|/logout|}">
                                    <li>Logout</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    </th:block>
                    <!-- Icon Account và Tên người dùng -->

                </div>
                <div class="border-start ps-4 d-none d-lg-block icons">
                    <button style="font-size: 19px;" type="button" class="btn btn-sm p-0">
                        <i class="fa fa-search"></i>
                    </button>
                    <button style="font-size: 24px;" type="button" class="btn btn-sm p-0 notification-icon">
                        <i class="bi bi-bell-fill"></i>
                        <div class="notification-dropdown">
                            <p class="notification-title"> Thông báo mới nhận được </p>
                            <div class="notification-content" style="margin-bottom: 0px;">
                                <img src="/img/gallery/image2.jpg" class="notification-image">
                                <div class="notification-text">
                                    <p
                                        style="font-size: 17px; font-weight: bold; padding-top: 10px; margin-bottom: 3px;">
                                        Đơn hàng đã được thêm thành công
                                    </p>
                                    <p style="font-size: 15px; display: flex; margin-bottom: 3px;">
                                        Trà Hạt Sen Đá - SL: 1 - 39.000đ
                                    </p>
                                    <p style="font-size: 14px; display: flex;">08:15 29-10-2023</p>
                                    <!-- Thêm các thông báo khác nếu cần -->
                                </div>
                            </div>
                            <div class="notification-content" style="margin-bottom: 0px;">
                                <img src="/img/gallery/image11.jpg" class="notification-image">
                                <div class="notification-text">
                                    <p
                                        style="font-size: 17px; font-weight: bold; padding-top: 10px; margin-bottom: 3px;">
                                        Đơn hàng đã được thêm thành công
                                    </p>
                                    <p style="font-size: 15px; display: flex; margin-bottom: 3px;">
                                        Cà Phê Đen Đá - SL: 1 - 29.000đ
                                    </p>
                                    <p style="font-size: 14px; display: flex;">08:20 29-10-2023</p>
                                    <!-- Thêm các thông báo khác nếu cần -->
                                </div>
                            </div>
                        </div>
                    </button>
                    <a th:href="@{|/cart|}" class="btn btn-sm ps-3 pb-2">
                        <i style="font-size: 24px;" class="bi bi-bag-fill"></i>
                        <span style="font-size: 12px;" id="cartCount" class="cart-count">{{cart.count}}</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->