<div class="container-fluid testimonial py-5 my-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 700px;">
            <p class="fs-5 fw-medium fst-italic text-white">Testimonial</p>
            <h1 class="display-6">What our clients say about us</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.5s">
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Tôi rất thích cà phê của quán</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="/img/gallery/testimonial-1.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Cô Fukuda</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Nhân viên tuyệt rất xinh đẹp</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="/img/gallery/testimonial-2.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Ông già</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item p-4 p-lg-5">
                <p class="mb-4">Không gian của quán rất thoải mái</p>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="img-fluid flex-shrink-0" src="/img/gallery/testimonial-3.jpg" alt="">
                    <div class="text-start ms-3">
                        <h5>Cô Eimi</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>